# pycharm, feel free to add your IDE specific folders
.idea/
.vscode/

# generic python
__pycache__/
*.py[cod]

# project specific
*.csv
*.gz

#ipynb
.ipynb_checkpoints/

.venv/

/data

#separateTopics
bigartm.ERROR*
bigartm.INFO*
bigartm.WARNING*
*.csv.bz2
*.batch
*.vw
bigartm.data-MS-*
nlp/topic_models/separateTopics/lenta/data/batches/*
nlp/topic_models/separateTopics/lenta/data/dicts/*
nlp/topic_models/separateTopics/lenta/data/vwpath/*

nlp/topic_models/separateTopics/interfax/data/batches/*
nlp/topic_models/separateTopics/interfax/data/dicts/*
nlp/topic_models/separateTopics/interfax/data/vwpath/*

nlp/topic_models/separateTopics/compare/data/lenta/vwpath/*
nlp/topic_models/separateTopics/compare/data/lenta/batches/*
nlp/topic_models/separateTopics/compare/data/interfax/vwpath/*
nlp/topic_models/separateTopics/compare/data/interfax/batches/*
