# pycharm, feel free to add your IDE specific folders
.idea/
.vscode/

# generic python
__pycache__/
*.py[cod]

# project specific
*.csv
*.gz

#ipynb
.ipynb_checkpoints/

.venv/

/data

#separateTopics
bigartm.ERROR*
bigartm.INFO*
bigartm.WARNING*
*.csv.bz2
*.batch
bigartm.data-MS-*
nlp/topic_models/separateTopics/data/batches/*
nlp/topic_models/separateTopics/data/dicts/*
nlp/topic_models/separateTopics/data/vwpath/*
